files:
  "/home/ec2-user/mapping.json":
    mode: "000755"
    owner: root
    group: root
    content: |
      [
        {
          "DeviceName": "/dev/sdf",
          "Ebs": {
            "DeleteOnTermination": false
          }
        }
      ]

commands:
  01_attach_volume:
    command: |
      export AWS_ACCESS_KEY_ID=$(/opt/elasticbeanstalk/bin/get-config environment -k AWS_ACCESS_KEY_ID)
      export AWS_SECRET_ACCESS_KEY=$(/opt/elasticbeanstalk/bin/get-config environment -k AWS_SECRET_ACCESS_KEY)
      export AWS_DEFAULT_REGION=$(ec2-metadata -z | awk '{print substr($2, 0, length($2)-1)}')

      INSTANCE_ID=$(ec2-metadata -i | awk '{print $2}')
      VOLUME_ID=$(aws ec2 describe-volumes --filters "Name=tag:Application,Values=Artsy" --query "Volumes[0].VolumeId" --output text)

      aws ec2 attach-volume --instance-id $INSTANCE_ID --volume-id $VOLUME_ID --device /dev/sdf
      aws ec2 wait volume-in-use --volume-ids $VOLUME_ID

      aws ec2 modify-instance-attribute --instance-id $INSTANCE_ID --block-device-mappings file:///home/ec2-user/mapping.json

      sleep 1
    test: "! test -e /dev/xvdf"
  02_create_filesystem:
    command: sudo mkfs -t xfs /dev/xvdf
    test: "sudo file -s /dev/xvdf | awk '{print $2}' | grep -q data"
  03_mount_volume:
    command: |
      sudo mkdir -p /data
      sudo mount /dev/xvdf /data
    test: "! sudo mountpoint -q /data"
