option_settings:
  ArtsyMorningScaleUp.aws:autoscaling:scheduledaction:
    MinSize: '1'
    MaxSize: '1'
    DesiredCapacity: '1'
    Recurrence: 0 16 * * *
  ArtsyEveningScaleDown.aws:autoscaling:scheduledaction:
    MinSize: '0'
    MaxSize: '0'
    DesiredCapacity: '0'
    Recurrence: 0 0 * * *
